* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

.text-white {
  color: #ffffff;
}
.primary-c {
  color: #06d86e;
}
.outfit {
  font-family: "Outfit", sans-serif;
}
